<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rone.dao.MiniAppCodeMapper">
  <resultMap id="BaseResultMap" type="com.rone.entity.MiniAppCode">
    <result column="CODE_PARAMS" jdbcType="VARCHAR" property="codeParams" />
    <result column="CODE_URL" jdbcType="VARCHAR" property="codeUrl" />
    <result column="GENERATE_TIME" jdbcType="TIMESTAMP" property="generateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CODE_PARAMS, CODE_URL, GENERATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.rone.entity.MiniAppCodeCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WD_MINI_APP_CODE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.rone.entity.MiniAppCodeCriteria">
    delete from WD_MINI_APP_CODE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rone.entity.MiniAppCode">
    insert into WD_MINI_APP_CODE (CODE_PARAMS, CODE_URL, GENERATE_TIME
      )
    values (#{codeParams,jdbcType=VARCHAR}, #{codeUrl,jdbcType=VARCHAR}, #{generateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rone.entity.MiniAppCode">
    insert into WD_MINI_APP_CODE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codeParams != null">
        CODE_PARAMS,
      </if>
      <if test="codeUrl != null">
        CODE_URL,
      </if>
      <if test="generateTime != null">
        GENERATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codeParams != null">
        #{codeParams,jdbcType=VARCHAR},
      </if>
      <if test="codeUrl != null">
        #{codeUrl,jdbcType=VARCHAR},
      </if>
      <if test="generateTime != null">
        #{generateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rone.entity.MiniAppCodeCriteria" resultType="java.lang.Long">
    select count(*) from WD_MINI_APP_CODE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update WD_MINI_APP_CODE
    <set>
      <if test="record.codeParams != null">
        CODE_PARAMS = #{record.codeParams,jdbcType=VARCHAR},
      </if>
      <if test="record.codeUrl != null">
        CODE_URL = #{record.codeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.generateTime != null">
        GENERATE_TIME = #{record.generateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update WD_MINI_APP_CODE
    set CODE_PARAMS = #{record.codeParams,jdbcType=VARCHAR},
      CODE_URL = #{record.codeUrl,jdbcType=VARCHAR},
      GENERATE_TIME = #{record.generateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>