<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rone.dao.SendSmsFlowMapper">
  <resultMap id="BaseResultMap" type="com.rone.entity.SendSmsFlow">
    <result column="SEQ" jdbcType="VARCHAR" property="seq" />
    <result column="SMS_TYPE" jdbcType="VARCHAR" property="smsType" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="MOBILE_NO" jdbcType="VARCHAR" property="mobileNo" />
    <result column="TIME" jdbcType="TIMESTAMP" property="time" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SEQ, SMS_TYPE, IP, MOBILE_NO, TIME, CONTENT
  </sql>
  <select id="selectByExample" parameterType="com.rone.entity.SendSmsFlowCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WD_SEND_SMS_FLOW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.rone.entity.SendSmsFlowCriteria">
    delete from WD_SEND_SMS_FLOW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rone.entity.SendSmsFlow">
    insert into WD_SEND_SMS_FLOW (SEQ, SMS_TYPE, IP,
      MOBILE_NO, TIME, CONTENT
      )
    values (#{seq,jdbcType=VARCHAR}, #{smsType,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
      #{mobileNo,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rone.entity.SendSmsFlow">
    insert into WD_SEND_SMS_FLOW
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seq != null">
        SEQ,
      </if>
      <if test="smsType != null">
        SMS_TYPE,
      </if>
      <if test="ip != null">
        IP,
      </if>
      <if test="mobileNo != null">
        MOBILE_NO,
      </if>
      <if test="time != null">
        TIME,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seq != null">
        #{seq,jdbcType=VARCHAR},
      </if>
      <if test="smsType != null">
        #{smsType,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null">
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rone.entity.SendSmsFlowCriteria" resultType="java.lang.Long">
    select count(*) from WD_SEND_SMS_FLOW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update WD_SEND_SMS_FLOW
    <set>
      <if test="record.seq != null">
        SEQ = #{record.seq,jdbcType=VARCHAR},
      </if>
      <if test="record.smsType != null">
        SMS_TYPE = #{record.smsType,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null">
        IP = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileNo != null">
        MOBILE_NO = #{record.mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        TIME = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update WD_SEND_SMS_FLOW
    set SEQ = #{record.seq,jdbcType=VARCHAR},
      SMS_TYPE = #{record.smsType,jdbcType=VARCHAR},
      IP = #{record.ip,jdbcType=VARCHAR},
      MOBILE_NO = #{record.mobileNo,jdbcType=VARCHAR},
      TIME = #{record.time,jdbcType=TIMESTAMP},
      CONTENT = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>